.config-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .config-full-width {
    width:80%;
    margin-left: 5%;
  }

  .key{
    margin-left: 2%;
  }

  .example-full-width{
    margin-left: 2%;
  }
