@import '~@angular/material/theming';
@include mat-core();

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
html { background-color:white; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}
